<h1><%=image_tag 'start-here-alt.gif', :class=>'icon' %> Ouvrir une session</h1>

<% form_tag session_path do -%>
<p><label for="login">Courriel</label><br/>
<%= text_field_tag 'email', @email %></p>

<p><label for="password">Mot de passe</label><br/>
<%= password_field_tag 'password', nil %></p>

<p><label for="remember_me">Session persistente:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Ouvrir une session' %></p>
<% end -%>
