<table>
  <tr>
    <th>Cote</th>
    <th>Signification</th>
  </tr>
  <tr>
    <td><%= image_tag("stars/1star.gif") %></th>
    <td>Produit franchement mauvais. Je ne le racheterai jamais!</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/2star.gif") %></th>
    <td>Produit non satisfaisant. Aucune peine si j'en oublie l'existence!</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/3star.gif") %></th>
    <td>Produit int&eacute;ressant. Plaisir &agrave; la consommation. L'on pourra en racheter &agrave; l'occasion.</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/4star.gif") %></th>
    <td>Produit m&eacute;morable. Tr&egrave;s grand plaisir &agrave; la consommation. Il faudra absolument s'en souvenir!</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/5star.gif") %></th>
    <td>Produit vraiment exceptionel! Enorme plaisir qui arrive peu fr&eacute;quemment. Obligation de se faire des r&eacute;serves!</td>
  </tr>
</table>
