<% @title = "La signification des cotes" %>

<table>
  <tr>
    <th>Cote</th>
    <th>Signification</th>
  </tr>
  <tr>
    <td><%= image_tag("stars/1star.gif") %></th>
    <td>Produit mauvais. Je ne le racheterai jamais!</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/2star.gif") %></th>
    <td>Produit pas satisfaisant. Pas de peine si j'en oublie l'existence!</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/3star.gif") %></th>
    <td>Produit interessant. Plaisir a la consommation. L'on pourra en racheter a l'occasion.</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/4star.gif") %></th>
    <td>Produit notable. Grand plaisir a la consommation. Il faudra absolument s'en souvenir!</td>
  </tr>
  <tr>
    <td><%= image_tag("stars/5star.gif") %></th>
    <td>Produit exceptionel! Enorme plaisir qui arrive peu frequemment. Obligation de racheter et se faire des reserves!</td>
  </tr>
</table>
