<% @title = "Mise &#224; jour du compte" %>

<% form_for :person, :url => object_url, :html => { :method => :put, :class => "lw80" } do |f| %>
  <p>
    <%= f.label :name, :Nom %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, :Courriel %>
    <%= f.text_field :email %>
  </p>
  <p class="indent submit">
    <%= f.submit "Sauvegarder" %>
  </p>
<% end %>