<h1><%=image_tag 'go-home.gif', :class=>'icon' %> Mise &#224; jour du compte</h1>
<% form_for(:person, :url => object_url, :html => {:method => :put}) do |f| %>
<p>
    <%= f.label :name, :Nom %>
    <br/>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.label :email, :Courriel %>
    <br/>
    <%= f.text_field :email %>
</p>
<p>
    <%= f.submit "Mettre &#224; jour" %>
</p>
<% end %>