<% @title = "Compte de " + person_display_name(@person) %>

<table class="user_profile">
  <tbody>
    <tr>
      <th>Nom</th>
      <td><%=h @person.name %></td>
    </tr>
    <% if current_person == @person %>
    <tr>
      <th>Courriel</th>
      <td><%=h @person.email %></td>
    </tr>
  <% end %>
    <tr>
      <th>Description</th>
      <td><%=h @person.description %></td>
    </tr>
  </tbody>
</table>

<% if current_person == @person %>
  <p class="actions"><%= link_to "Mettre à jour", edit_person_path(@person), :title => "Mettre à jour", :class => "button update" %></p>
<% end %>

<% if @reviews.any? and (current_person.andand.id.to_s != params[:id]) %>
<h2 class='second_page_title'>Son journal de critiques</h2>
<%= render :partial => 'reviews/user_reviews' %>
<% end %>
