<% if user_turf?  %>
  <% @title = "Mon cellier" %>
<% else %>
  <% @title = "Cellier de " + person_display_name(@person) %>
<% end %>

<% if @cellar_wines.any? %>
  <table class="wines">
    <thead>
      <th class="wine">Vin</th>
      <th class="year">Année</th>
      <th class="country">Pays</th>
      <th class="provider">Fournisseur</th>
      <th class="nowrap date">Date</th>
      <th class="note">Note</th>
      <% if user_turf?  %>
        <th></th>
      <% end %>
    </thead>
    <% @cellar_wines.each do |cellar_wine| %>
      <% wine = cellar_wine.wine %>
      <tr class="<%= cycle("even", "odd") %>">
        <td class="wine">
          <span class="bottle">
            <%= link_to image_tag( glass_image_filename(wine), :alt => wine.name), wine_reviews_url(wine), :title => wine.name %>
          </span>
          <%= link_to wine.name, wine_reviews_url(wine), :title => wine.name, :class => "name" %>
          <small>
            <%= (wine.appellation.name + ", ") unless wine.appellation.nil? %> 
            <%= wine.region.name unless wine.region.nil? %>
          </small>
        </td>
        <td class="year"><%= wine.year%></td>
        <td class="country"><%= country_flag wine.country%></td>
        <td class="provider"><%=h wine.provider.titleize %></td>
        <td class="nowrap date"><%= format_date cellar_wine.created_at %></td>
        <% if user_turf?  %>
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                $(".inplace-editor<%= cellar_wine.id %>").editInPlace({
                  url: "<%= update_inplace_note_url %>",
                  field_type: "textarea",
                  textarea_rows: "3",
                  textarea_cols: "10",
                  default_text: '[Cliquer pour editer]',
                  show_buttons: true,
                  cancel_button: "<input type='image' src='/images/icons/cancel.png' title='Annuler' class='inplace_cancel' />",
                  save_button: "<input type='image' src='/images/icons/tick.png' title='Sauvegarder' class='inplace_save' />",
                  saving_image: '/images/animations/spinner_unstarted.gif',
                  params: "id=<%= cellar_wine.id %>&person_id=<%= current_person.id %>"
                });
              });
          </script>
        <% end %>
        <td class="note"><p class="inplace-editor<%= cellar_wine.id %>"><%= cellar_wine.note %></p></td>
        <% if user_turf?  %>
          <td class="actions">
            <%= link_to "Supprimer", person_cellar_wine_url(current_person, cellar_wine), :confirm => ApplicationHelper::DELETE_CONFIRM_MESSAGE, :title => "Supprimer", :method => :delete, :class => "remove" %>
          </td>
      <% end %>
      </tr>
    <% end %>
  </table>

<% else %>
  <p>Vous n'avez aucun vin dans votre cellier.</p>
<% end %>
