<% @title = "Bienvenue sur Le-Tastevin!" %>

<div id="features">
  <div class="consult">
    <%= image_tag "splash/wine_jaguar_80.png" %>
    <span>Consultez les critiques d'un vin</span>
  </div>
  <div class="write">
    <%= image_tag "splash/wine_bottles_80.png" %>
    <span>Ecrivez une critique pour un vin</span>
  </div>
  <div class="conserve">
    <%= image_tag "splash/3_bottles_80.png" %>
    <span>Conservez vos critiques dans votre journal de critiques</span>
  </div>
  <div class="remember">
    <%= image_tag "splash/corks_80.png" %>
    <span>Souvenez-vous des vins que vous souhaitez deguster</span>
  </div>
</div>

<h3>
  <%= link_to image_tag("/images/icons/feed.png"), activity_feed_url, :title => "Activit&eacute; sur le site " %>&nbsp; Activit&eacute; sur le site
</h3>

<table class="activity_stream">
  <tbody>
    <% @timeline_events.each do |event| %>
      <% wine = case event.event_type 
                when "reviewed" 
                  event.subject.wine
                when "edited" 
                  event.subject.wine
                when "cellar_wine_created" 
                  event.subject
                end %>
      <tr>
        <td class="wine">
          <span class="bottle">
            <%= link_to image_tag( glass_image_filename(wine), :alt => wine.name), wine_reviews_url(wine), :title => wine.name %>
          </span>
          <%= link_to wine.name, wine_reviews_url(wine), :title => wine.name, :class => "name" %>
          <% if event.event_type != 'cellar_wine_created' %>
            <span class="rating">
              <%= stars_rating event.subject.rating %>
            </span>
          <% end %>
          <small>
            <% case event.event_type when "reviewed" %>
              Nouvelle critique de
            <% when "edited" %>
              Critique modifi&#233;e par
            <% when "cellar_wine_created" %>
              Ajout&eacute; dans le cellier de
            <% end %>
            <%= link_to event.actor.name, person_url(event.actor) %>, il y a <%= time_ago_in_words event.created_at %>. 
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>
  <%= link_to image_tag("/images/icons/feed.png"), activity_feed_url, :title => "Flux Twitter" %>&nbsp;Flux Twitter
</h3>
<div id="twitter_feed">
  <script type="text/javascript">
    $(document).ready(function() {
        $.get('/twitter-feed', function(data) { $('#twitter_feed').html(data); }); 
    });
  </script>
</div>
