<% @title = "Bienvenue sur Le-Tastevin!" %>

<div id="features">
  <% images = ["splash/wine_jaguar_150.png", "splash/grapes_150.png", "splash/3_bottles_150.png", "splash/corks_150.png"].sort_by { rand } %>
  <div class="consult">
    <%= image_tag images[0] %>
    <span>Consultez les critiques d'un vin</span>
  </div>
  <div class="write">
    <%= image_tag images[1] %>
    <span>Ecrivez une critique pour un vin</span>
  </div>
  <div class="conserve">
    <%= image_tag images[2] %>
    <span>Conservez vos critiques dans votre journal de critiques</span>
  </div>
  <div class="remember">
    <%= image_tag images[3] %>
    <span>Conservez vos d&eacute;gustations futures dans votre cellier</span>
  </div>
</div>


<div class="homepage_column left">
<h3>
  <%= link_to image_tag("/images/icons/feed.png"), activity_feed_url, :title => "Activit&eacute; sur le site " %>Activit&eacute; sur le site
</h3>
<table class="activity_stream left_column">
  <tbody>
    <% @timeline_events.each do |event| %>
      <% wine = case event.event_type 
                when "reviewed" 
                  event.subject.wine
                when "edited" 
                  event.subject.wine
                when "cellar_wine_created" 
                  event.subject
                end %>
      <tr>
        <td class="wine">
          <span class="bottle">
            <%= link_to image_tag( glass_image_filename(wine), :alt => wine.name), wine_reviews_url(wine), :title => wine.name %>
          </span>
          <%= link_to wine_full_name(wine), wine_reviews_url(wine), :title => wine.name, :class => "name" %>
          <% if event.event_type != 'cellar_wine_created' %>
            <span class="rating">
              <%= stars_rating event.subject.rating %>
            </span>
          <% end %>
          <small>
            <% case event.event_type when "reviewed" %>
              Nouvelle critique de
            <% when "edited" %>
              Critique modifi&#233;e par
            <% when "cellar_wine_created" %>
              Ajout&eacute; dans le cellier de
            <% end %>
            <%= link_to event.actor.name, person_url(event.actor) %>, il y a <%= time_ago_in_words event.created_at %>. 
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="twitter_feed" class="homepage_column">
<h3>
  <%= link_to image_tag("/images/icons/twitter.png"), "http://twitter.com/le_tastevin", :title => "Tweets Le-Tastevin" %>Tweets Le-Tastevin
</h3>
<div id="twitter_content">
</div>
  <script type="text/javascript">
    $(document).ready(function() {
        $.get('/twitter-feed', function(data) { $('#twitter_content').html(data); }); 
    });
  </script>
</div>
