<h1>Editing color</h1>

<% form_for(@color) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @color %> |
<%= link_to 'Back', colors_path %>
