<div class="complex_field clearfix">
  <%= f.label :review_rating_id, "Cote" %>
  <ul class="star_rating">
    <li class="stars_1 current"><%= link_to "1 &#233;toile", "javascript:;", :title => "1 &#233;toile" %></li>
    <li class="stars_2"><%= link_to "2 &#233;toiles", "javascript:;", :title => "2 &#233;toiles" %></li>
    <li class="stars_3"><%= link_to "3 &#233;toiles", "javascript:;", :title => "3 &#233;toiles" %></li>
    <li class="stars_4"><%= link_to "4 &#233;toiles", "javascript:;", :title => "4 &#233;toiles" %></li>
    <li class="stars_5"><%= link_to "5 &#233;toiles", "javascript:;", :title => "5 &#233;toiles" %></li>
  </ul>
  <input type="hidden" id="review_rating_id" name="review[rating_id]" />
  <script type="text/javascript">
    $("ul.star_rating li").removeClass("current");
    $("ul.star_rating li.stars_<%= @review.rating.id %>").addClass("current");
    $("#review_rating_id").val(<%= @review.rating.id.to_s %>);
  </script>
  <%= link_to image_tag("/images/icons/help.png"), "", :title => "#{render :partial => '/contents/stars_help'}", :class => "toggle_tooltip" %>
  <script type="text/javascript">
    //$("a.toggle_tooltip").simpletip({ content: "Help!", fixed: true });
    $("a.toggle_tooltip[title]").qtip({
      show: "mouseover",
      hide: "mouseout",
      position: {
        corner: {
          target: "rightTop",
          tooltip: "bottomLeft"
        }
      },
      style: {
        name: "light",
        background: '#f6f6f6',
        width: 400,
        tip: {
          corner: "bottomLeft",
          size: { x: 5, y: 3 }
        }
      }
    });
  </script>
</div>
<p>
  <%= f.label :comment, "Critique"  %>
  <%= f.text_area :comment, :cols => 50, :rows => 10 %>
</p>
