<h1>Editing review</h1>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rating_id %><br />
    <%= f.text_field :rating_id %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>
