<div id="wine_for_review">
    <h1>Vin</h1>
    <p>
        <b>Nom:</b>
        <%=h @wine.name %>
    </p>
    <p>
        <b>Couleur:</b>
        <%=@wine.color.name %>
    </p>
    <p>
        <b>C&eacute;page:</b>
        <%=h @wine.variety_wines.map{|e|e.variety.name}.join(', ') %>
    </p>
    <p>
        <b>Ann&eacute;e:</b>
        <%=@wine.year %>
    </p>
</div>
<h1>Liste des opinions</h1>
<%=image_tag 'add.gif', :class=>'icon' %><%= link_to 'Ajouter une opinion', new_wine_review_url(params[:wine_id]) %>
<table>
    <tr>
        <th>
            Cote
        </th>
        <th>
            Opinion
        </th>
        <th>
            Usager
        </th>
    </tr>
    <%- @reviews.each do |review| %>
    <tr class="<%= cycle("even", "odd") %>">
        <td>
            <%=h review.rating.name %>
        </td>
        <td>
            <%=h review.comment %>
        </td>
        <td>
            <%=h person_display_name(review.person) %>
        </td>
        <td>
            <% editable_review?(review) do %>
            <%= link_to image_tag('editable.gif', :class=>'icon'), edit_wine_review_path(review.wine, review), :class => 'icon_link' %>
            <% end %>
        </td>
        <td>
            <% editable_review?(review) do %>
            <%= link_to image_tag('emblem-unreadable.gif', :class=>'icon'), wine_review_path(review.wine, review), :confirm => 'Are you sure?', :method => :delete, :class => 'icon_link' %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
<br/>
