<p>
  <b>Nom:</b>
  <%=h @wine.name %>
</p>
<p>
  <b>Couleur:</b>
  <%=h @wine.color.name %>
</p>
<p>
  <b>C&eacute;page:</b>
  <%=h @wine.varieties.map(&:name).join(", ") if @wine.varieties.size > 0 %>
</p>
<p>
  <b>Ann&eacute;e:</b>
  <%=h @wine.year %>
</p>
<br/>

<%= render :active_scaffold => 'reviews', :constraints => { :wine_id => @wine.id } %>