<% @title = "Vin: #{h @wine.name}" %>

<%= render :partial => "wines/wine_profile" %>

<% unless @reviews.empty? %>
  <table>
    <thead>
      <th>Cote</th>
      <th>Critique</th>
      <th>Usager</th>
      <th></th>
    </thead>
    <tbody>
      <%- @reviews.each do |review| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td><%=h review.rating.name %></td>
          <td><%=format_review_comment review.comment %></td>
          <td><%=h person_display_name(review.person) %></td>
          <td class="actions">
            <% editable_review?(review) do %>
              <%= link_to "Mettre à jour", edit_wine_review_path(review.wine, review), :title => "Mettre à jour", :class => "update" %>
            <% end %>
            <% editable_review?(review) do %>
              <%= link_to "Supprimer", wine_review_path(review.wine, review), :confirm => 'Are you sure?', :title => "Supprimer", :method => :delete, :class => "remove" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Ajouter une opinion", new_wine_review_url(params[:wine_id]), :title => "Ajouter une opinion", :class => "button add" %>