<h1>New Review</h1>
<%= error_messages_for :review %>
<% form_for(:review, :url => wine_reviews_url(@wine)) do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<%= f.hidden_field :person_id, :value => current_person.id %>
<p>
    <%= submit_tag "Create" %>
</p>
<% end %>
<br/>
<%= link_to 'Back', wine_reviews_url(params[:wine_id]) %>