<p>
  <strong>Wine:</strong><%=h @review.wine %>
</p>
<p>
  <strong>Rating:</strong><%=h @review.rating %>
</p>
<p>
  <strong>Comment:</strong><%=h @review.comment %>
</p>
<p>
  <strong>Person:</strong><%=h @review.person %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>