<div class="wine_profile">
  <%= image_tag "wine_image_placeholder.jpg", :alt => @wine.name, :class => "bottle" %>
  <table>
    <tbody>
      <tr>
        <th>Categorie:</th>
        <td><%=h @wine.category.name %></td>
      </tr>
      <tr>
        <th>Pays:</th>
        <td><%=h @wine.country.name %></td>
      </tr>
      <tr>
        <th>Region:</th>
        <td><%=h @wine.region.name %></td>
      </tr>
      <tr>
        <th>C&eacute;pages:</th>
        <td><%=h @wine.variety_wines.map{|e|e.variety.name}.join(', ') %></td>
      </tr>
      <tr>
        <th>Ann&eacute;e:</th>
        <td><%=h @wine.year %></td>
      </tr>
    </tbody>
  </table>
</div>
