<% @title = "Derni&egrave;res critiques" %>

<table>

  <% @timeline_events.each do |event| %>
    <tr>
      <td>
        <% case event.event_type 
  when "reviewed" %>
  <%= stars_rating event.subject.rating.name %>  <%= link_to(event.subject.wine.name, wine_reviews_url(event.subject.wine)) %>.
  <br>
  <%= link_to(event.actor.name, person_url(event.actor)) %> a fait une critique,
<% when "edited" %>
  <%= stars_rating event.subject.rating.name %> <%= link_to(event.subject.wine.name, wine_reviews_url(event.subject.wine)) %>.
  <br>
  <%= link_to(event.actor.name, person_url(event.actor)) %> a modifi&eacute; sa critique,
<% end %>
il y a <%= time_ago_in_words event.created_at %>
<br>
      </td>
    </tr>
  <% end %>

</table>
