<% @title = "R&eacute;sultats de recherche" %>

<% if @wines.any? %>
  <table class="wines">
    <thead>
      <th>Vin</th>
      <th>Couleur</th>
      <th class="country">Pays</th>
      <th></th>
    </thead>
    <tbody>
      <% @wines.each do |wine| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td class="wine">
            <span class="bottle">
              <%= link_to image_tag( glass_image_filename(wine), :alt => wine.name), wine_reviews_url(wine), :title => wine.name %>
            </span>
            <%= link_to wine.name, wine_reviews_url(wine), :title => wine.name, :class => "name" %>
            <small>
            <%= (wine.appellation.name + ", ") unless wine.appellation.nil? %> 
            <%= wine.region.name unless wine.region.nil? %>
          </small>
          </td>
          <td><%=h wine.color.name.titleize %></td>
          <td class="country"><%= country_flag wine.country%></td>
          <% if current_person.andand.admin || current_person == wine.person %>
            <% editable_wine? wine do %>
              <td class="actions">
                <%= link_to "Mettre à jour", edit_wine_path(wine), :title => "Mettre à jour", :class => "update" %>
                <%= link_to "Supprimer", wine, :title => "Supprimer", :confirm => "Etes-vous sur?", :method => :delete, :class => "remove" %>
              </td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6"><%= will_paginate @wines %></td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p class="blank">Aucuns resultats.</p>
<% end %>