<% @title = "R&eacute;sultats de recherche" %>

<% if @wines.any? %>
  <table class="wines">
    <thead>
      <th class="wine">Vin</th>
      <th class="year">Année</th>
      <th class="country">Pays</th>
      <th class="provider">Fournisseur</th>
    </thead>
    <tbody>
      <% @wines.each do |wine| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td class="wine">
            <span class="bottle">
              <%= link_to image_tag( glass_image_filename(wine), :alt => wine.name), wine_reviews_url(wine), :title => wine.name %>
            </span>
            <%= link_to wine.name, wine_reviews_url(wine), :title => wine.name, :class => "name" %>
            <small>
            <%= (wine.appellation.name + ", ") unless wine.appellation.nil? %> 
            <%= wine.region.name unless wine.region.nil? %>
          </small>
          </td>
          <td class="year"><%= wine.year%></td>
          <td class="country"><%= country_flag wine.country%></td>
          <td><%=h wine.provider.titleize %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6"><%= will_paginate @wines %></td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p class="blank">Aucuns résultats.</p>
<% end %>
