<div id="masthead">
  <div class="page_width">
    <div id="site_id">
      <%= image_tag 'glasses/red_small.png' %>
      <h1><%= link_to "Le Tastevin", root_url, :title => "Accueil" %></h1>
      <p>Nos critiques de vin</p>
    </div>
    <% if logged_in? %>
      <ul id="nav">
        <li class="current"><%= link_to "Mon journal <span class='count'>#{@review_count}</span>", person_reviews_index_url(current_person), :title => "Mon journal de critiques" %></li>
        <li><%= link_to "Mon cellier <span class='count'>#{@cellar_count}</span>", person_cellar_wines_url(current_person) , :title => "Mon cellier" %></li>
      </ul>
    <% end -%>
    <ul id="utilities">
      <% if logged_in? -%>
        <li><%= link_to "mon compte", person_url(current_person), :title => "Compte de #{person_display_name(current_person)}" %></li>
        <li><%= link_to "terminer la session", logout_path, :title => "Terminer la session" %></li>
      <% else -%>
        <li><%= link_to "ouvrir une session", login_path,  :title => "Ouvrir une session" %></li>
        <li><%= link_to "créer un compte", signup_path, :title => "Créer un compte" %></li>
      <% end -%>
    </ul>
    <form id="search" action="/resultats-de-recherche" method="get">
      <input type="text" name="q" value="<%= params[:q] %>" class="search"/>
      <input type="submit" value=""/>
    </form>
  </div>
</div>
