<div id="masthead">
  <div class="page_width">
    <h1><%= link_to "Le Picoleur", root_url, :title => "Accueil" %></h1>
    <p>Mes decouvertes vinicoles</p>
    <ul id="utilities">
      <% if logged_in? -%>
        <li><%= link_to "Mon Profile", edit_person_url(current_person), :title => "Compte de #{current_person.email}" %></li>
        <li class="last"><%= link_to "Quitter", logout_path, :title => "Quiter la session" %></li>
      <% else -%>
        <li><%= link_to "Ouvrir une session", login_path,  :title => "Ouvrir une session" %></li>
        <li class="last"><%= link_to "S'enregistrer", signup_path, :title => "S'enregistrer" %></li>
      <% end -%>
    </ul>
    <form id="search" action="/search">
      <input type="text" name="q" value="<%= params[:q] %>"/>
      <input type="submit" value="Recherche"/>
    </form>
  </div>
</div>
