<div id="masthead">
  <div class="page_width">
    <h1><%= link_to "Le Tastevin", root_url, :title => "Accueil" %></h1>
    <p>Mes d&eacute;couvertes vinicoles</p>
    <ul id="utilities">
      <% if logged_in? -%>
        <li><%= link_to "mon profil", person_url(current_person), :title => "Profil de #{person_display_name(current_person)}" %></li>
        <li class="last"><%= link_to "quitter", logout_path, :title => "Quitter la session" %></li>
      <% else -%>
        <li><%= link_to "ouvrir une session", login_path,  :title => "Ouvrir une session" %></li>
        <li class="last"><%= link_to "créer un profil", signup_path, :title => "Créer un profil" %></li>
      <% end -%>
    </ul>
    <form id="search" action="/resultats-de-recherche" method="get">
      <input type="text" name="q" value="<%= params[:q] %>" class="search"/>
      <input type="submit" value="Rechercher"/>
    </form>
  </div>
</div>
