<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <title><%= controller.controller_name %>: <%= controller.action_name %></title>
        <%= javascript_include_tag :defaults %>
        <%= stylesheet_link_tag 'scaffold' %>
        <%= stylesheet_link_tag 'application' %>
        <%= active_scaffold_includes %>
    </head>
    <body>
        <div id="container">
            <div id="top_nav_bar">
                <div id="top_menu">
                    <%= image_tag "wine5-small.jpg", :class => "logo" %>
                    <%= link_to "liste des vins", wines_url %><% if current_person %>| <%= link_to "ajouter un nouveau vin", new_wine_url %><% end %>
                </div>
                <div id="top_login_box">
                    <% if current_person %>
                    connect&eacute; en tant que: <%= current_person.email %>| <%= link_to "quitter", logout_url %>
                    <% else %>
                    <%= link_to "ouvrir une session", login_url %>| <%= link_to "s'enregistrer", signup_url %>
                    <% end %>
                </div>
                <div style="clear:both;">
                </div>
            </div>
            <p style="color: green">
                <%= flash[:notice] %>
            </p>
            <%= yield %>
            <%= render :partial => "layouts/footer" %>
        </div>
    </body>
</html>
