<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title><%= @title || "Dashboard" %> &#171; Vinifera</title>
    <%= javascript_include_tag "jquery.min", "jquery.qtip.min", "application" %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body id="<%= @controller.controller_name %>_controller" class="<%= @controller.action_name %>">

    <%= render :partial => "layouts/masthead" %>

    <div id="content">
      <div class="page_width">

        <div id="main">
          <%- flash.each do |name, message| -%>
            <%= content_tag :p, message, :id => "flash_#{name}", :class => "flash #{name}" %>
          <%- end -%>
          <h2><%= @title %></h2>
          <%= yield %>
        </div>

        <div id="sidebar">
          <%= render :partial => 'layouts/sidebar'  %>
        </div>

      </div>
    </div>

    <%= render :partial => "layouts/footer" %>

  </body>

</html>
