<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= @page_title || @title || "Le Tastevin" %></title>
  <meta name="keywords" content="<%= @keywords %>">
  <meta name="description" content="<%= @description %>">
  <%= javascript_include_tag "jquery.min", "jquery.qtip.min", "application" %>
  <%= javascript_include_tag "jquery.editinplace" %>
  <%= stylesheet_link_tag 'application' %>
</head>

<body id="<%= @controller.controller_name %>_controller" class="<%= @template.instance_variable_get(:@_first_render).name %> <%= 'search' if params[:q].nil? %>">

    <%= render :partial => "layouts/masthead" %>

    <div id="content">
      <div class="page_width">

        <div id="main">
          <%- flash.each do |name, message| -%>
            <%= content_tag :p, message, :id => "flash_#{name}", :class => "flash #{name}" %>
          <%- end -%>
          <% if @title.present? %>
          <h2 class="page_title">
              <%= @title %>
          </h2>
        <% end %>
          <%= yield %>
        </div>

        <div id="sidebar">
          <%= render :partial => 'layouts/sidebar'  %>
        </div>

      </div>
    </div>

    <%= render :partial => "layouts/footer" %>
    <%= render :partial => "layouts/analytics" %>

  </body>

</html>
